nested_lookup
datetime
bs4
pyautogui
pywhatkit
pyperclip
typing
jmespath
parsel
playwright
pytz
requests
schedule
openai
deepseek
selenium
webdriver-manager
Flask
gunicorn
2captcha-python
lxml
filelock
python-dotenv
beautifulsoup4
psutil